@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #3c3b60;
}

.about-me {
    padding-left: 20%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}




.about-me-text {
    max-width: 45%;
    margin: 0px 20px;
}

.about-me-bottom-text{
    max-width: 65%;
    margin: 0px 20px;
}
.about-me-text h2, .about-me-bottom-text h2{
    color: #e0906e;
    font-size: 50px;
    font-weight: 600;
    text-align: left;
}

.about-me-text p, .about-me-bottom-text p{
    color: #c2714f;
    font-size: 20px;
}

.about-image img{
    max-width: 30%;
    height: auto;
    border-radius: 10px;
}


.content {
    display: block;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; 
    padding-bottom: 250px;
    width: 100%;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #e0906e;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 35px;
    color: #3c3b60;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    flex-shrink: 0;
}
@media (max-width: 768px) {
    .logo{
        font-size: 16px;
        font-weight: 350;
    }
}

@media (max-width: 480px) {
    .logo a {
        font-size: 12px;
        font-weight: 250;
    }
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 23px;
    color: #3c3b60;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
@media (max-width: 768px) {
    .navbar a {
        font-size: 16px;
        margin-left: 15px; 
    }
}

@media (max-width: 480px) {
    .navbar a {
        font-size: 13px; 
        margin-left: 10px; 
    }
}

.navbar a:hover {
    color: #9896ce;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding: 10px 10%;
    margin-top: 50px;
}

.boldened {
    font-weight: 600;
}

.sub-title {
    margin-top: 30px;
    /* display: flex; */
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    padding-left: 20%;
}

#portfolio{
    padding: 50px 0;
    margin-top: 30px;
}

.projectList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: 15px;
    max-width: 75%;
}

@media (max-width: 1024px) {
    .projectList {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 768px) {
    .projectList {
        grid-template-columns: 1fr; 
    }
}

.project {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 16/9;
}

.project img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
}

.intro {
    height: 18%;
    min-height: 20px;
    width: 100%;
    padding: 05px 08x;
    box-sizing: border-box;
    position: absolute;
    background: rgba(29, 25, 41, 0.8); 
    bottom: 0;
    color: white;
    overflow: hidden;
    transition: height 0.4s ease-in-out, padding 0.4s ease-in-out;
}

.intro h1 {
    opacity: 1; 
    transform: translateY(0px); 
    transition: transform 0.3s ease-in-out; 
    margin: 10px, 0;
}

.intro p {
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 

}


.project:hover .intro {
    height: 100%; 
    padding: 20px 6px; 
}



.project:hover .intro p {
    opacity: 1; 
    transform: translateY(0); 
}

.layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 20px 40px;
    text-align: center;
}

.layer-content {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.layer-content h3 {
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 2px 2px 8px rgba(1, 1, 1, 0.2);
    margin-bottom: 3px;
}

.layer-content p {
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 2px 2px 8px rgba(1, 1, 1, 0.2);
    margin-bottom: 3px;
}


#footer {
    background-color: #e0906e;
    width: 100%;
    position: relative;
    height: 100px;
    margin-top: -100px ;
    clear: both;
}


.projectPageContainer{
    display: flex;
    flex-direction: column; 
    
    /* flex-flow: column nowrap; */ 

    height: 100%;
    width: 100%;
    padding: 10%;
    gap: 20px;
}
.projectPageDividerHorizontal{
    display: flex;
    justify-content: space-between;
    gap: 3%;
    align-items: center;
}
.projectPageDividerHorizontal img{
    width:55%;
    height: max-content;
}

.projectInfo{
    width:80%;
}
.projectInfo h3, .projectAbout h3{
    font-weight: 350;
}

.projectAboutInfoContainer
{
    display:flex;
    flex-direction: column;
    justify-content: left;
    gap: 8px;
}

.projectAboutInfoContainer .projectInfo, 
.projectAboutInfoContainer .projectAbout {
    width: 80%; /* Both sections take up half the width */
}

.projectAbout
{
    flex-grow: 1;
}

@media (max-width: 1024px) {
    .projectAbout {
        font-size: 8px;
    }
    .projectInfo {
        font-size: 8px; 
    }
}

@media (max-width: 768px) {
    .projectAbout {
        font-size: 5px;
    }
    .projectInfo {
        font-size: 5px; 
    }
}

.ProjectPageSubtitle{
    
}



