@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #301934;
}
.header
{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 10%;
    background: #aa5259;
    display: flex;
    justify-content: space-between; /* Ensures logo and navbar are spaced apart */
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color:#2e88ad;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    flex-shrink: 0;
}

.navbar{
    display: flex;
}
.navbar a {
    font-size: 18px;
    color:#2e88ad;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover {
    color:#60d9d0;

}